@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    @apply h-screen w-screen;
}

#wrapper, body {
    @apply !overflow-x-hidden text-slate-700 min-h-screen w-full relative;
}

#wrapper, window {
    scrollbar-width: none;
}
:is(window, #wrapper, body)::-webkit-scrollbar {
    display: none;
}